<%- include('../partials/form/header') %>


  <div class="container py-5 my-4">
    <form action="/gejala" method="post" class="form-check p-0">

      <div class="table-responsive">
        
      
      <table class="table table-borderless table-striped table align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Gejala</th>
            <th scope="col" class="text-center">Kondisi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td> Apakah Memiliki Gejala Daun menguning?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g1" id="g1y" value="y" class="form-check-input">
                <label for="g1y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g1" id="g1t" value="t" class="form-check-input">
                <label for="g1t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td> Apakah Memiliki Gejala bintik putih pada tanaman?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g2" id="g2y" value="y" class="form-check-input">
                <label for="g2y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g2" id="g2t" value="t" class="form-check-input">
                <label for="g2t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td> Apakah Memiliki Gejala adanya alur berliku bekas kotoran berwarna putih?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g3" id="g3y" value="y" class="form-check-input">
                <label for="g3y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g3" id="g3t" value="t" class="form-check-input">
                <label for="g3t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>
            <td> Apakah Memiliki Gejala pucuk dan tunas-tunas samping berwarna keperak-perakan?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g4" id="g4y" value="y" class="form-check-input">
                <label for="g4y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g4" id="g4t" value="t" class="form-check-input">
                <label for="g4t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">5</th>
            <td> Apakah Memiliki Gejala serangan pada daun bagian bawah/seluruh daun?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g5" id="g5y" value="y" class="form-check-input">
                <label for="g5y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g5" id="g5t" value="t" class="form-check-input">
                <label for="g5t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td> Apakah Memiliki Gejala daun kerdil?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g6" id="g6y" value="y" class="form-check-input">
                <label for="g6y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g6" id="g6t" value="t" class="form-check-input">
                <label for="g6t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>


          <tr>
            <th scope="row">7</th>
            <td> Apakah Memiliki Gejala daun cekung dan rapuh?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g7" id="g7y" value="y" class="form-check-input">
                <label for="g7y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g7" id="g7t" value="t" class="form-check-input">
                <label for="g7t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td> Apakah Memiliki Gejala permukaan daun bagian bawah berbintik coklat?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g8" id="g8y" value="y" class="form-check-input">
                <label for="g8y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g8" id="g8t" value="t" class="form-check-input">
                <label for="g8t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td> Apakah Memiliki Gejala bercak coklat pada daun?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g9" id="g9y" value="y" class="form-check-input">
                <label for="g9y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g9" id="g9t" value="t" class="form-check-input">
                <label for="g9t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td> Apakah Memiliki Gejala pertumbuhan bagian atas tanaman terhambat atau mati?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g10" id="g10y" value="y" class="form-check-input">
                <label for="g10y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g10" id="g10t" value="t" class="form-check-input">
                <label for="g10t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">11</th>
            <td> Apakah Memiliki Gejala daun layu dan gugur?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g11" id="g11y" value="y" class="form-check-input">
                <label for="g11y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g11" id="g11t" value="t" class="form-check-input">
                <label for="g11t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">12</th>
            <td> Apakah Memiliki Gejala layu permanen?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g12" id="g12y" value="y" class="form-check-input">
                <label for="g12y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g12" id="g12t" value="t" class="form-check-input">
                <label for="g12t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">13</th>
            <td> Apakah Memiliki Gejala tanaman membusuk atau mati?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g13" id="g13y" value="y" class="form-check-input">
                <label for="g13y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g13" id="g13t" value="t" class="form-check-input">
                <label for="g13t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">14</th>
            <td> Apakah Memiliki Gejala epidermis atau bagian atas daun rusak/transparan?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g14" id="g14y" value="y" class="form-check-input">
                <label for="g14y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g14" id="g14t" value="t" class="form-check-input">
                <label for="g14t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">15</th>
            <td> Apakah Memiliki Gejala tersisa hanya tulang daun pada tanaman?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g15" id="g15y" value="y" class="form-check-input">
                <label for="g15y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g15" id="g15t" value="t" class="form-check-input">
                <label for="g15t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">16</th>
            <td>
              Apakah Memiliki Gejala hama memakan tunas dan bunga?
            </td>
            <td class="d-flex flex-column align-items-center justify-content-center d-md-flex flex-md-row gap-3 gap-md-5 py-3">
              <div>
                <input type="radio" name="g16" id="g16y" value="y" class="form-check-input">
                <label for="g16y" class="form-check-label">Ya</label>
              </div>
              <div>
                <input type="radio" name="g16" id="g16t" value="t" class="form-check-input">
                <label for="g16t" class="form-check-label">Tidak</label>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

      <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn rounded-1 btn-primary">Diagnosa</button>
      </div>

    </form>
  </div>

  <%- include('../partials/footer') %>